@tailwind base;
@tailwind components;
@tailwind utilities;



/*



* {
  border-color: red;
  border-width: 1px;
}
*/




html,
body,
:root {
  height: 100%;
  background-color: black;
  color-scheme: dark;
}